<div class="main-container">
    <!--Start first block-->
    <div class="first-block">
      <div class="row">
        <div class="column-1">
          <div class="left-block">
          <!-- Slideshow container -->
            <div class="slider">
              <div>
                <a href="#">
                  <img class="m-img" src="./images/img1.png">
                  <div class="big-title-news">
                    <a href="#"><p class="big-title">Kon Tum đầu tư vào du lịch, thu hút hàng ngàn khách nước ngoài trong năm 2018 và lượng khách có xu hướng tăng</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                    <p class="big-des">Những năm gần đây, trên địa bàn Kon Tum bắt đầu xuất hiện loại hình du lịch homestay, và bước đầu thu hút đông đảo các bạn trẻ, khách du lịch tìm đến trải nghiệm.</p>
                  </div>
                </a>
              </div>
              <div><a href="#">
                <img class="m-img" src="./images/img3.png">
                <div class="big-title-news">
                    <a href="#"><p class="big-title">Sử dụng sản phẩm làng nghề truyền thống làm quà tặng ngoại giao</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                    <p class="big-des">Những năm gần đây, trên địa bàn Kon Tum bắt đầu xuất hiện loại hình du lịch homestay, và bước đầu thu hút đông đảo các bạn trẻ, khách du lịch tìm đến trải nghiệm.</p>
                </div>
                </a>
              </div>
              <div><a href="#">
                <img class="m-img" src="./images/img2.png">
                <div class="big-title-news">
                    <a href="#"><p class="big-title">Thu hút có chọn lọc các phân đoạn thị trường khách du lịch có khả năng chi trả cao và lưu trú dài ngày tới Việt Nam</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                    <p class="big-des">Với chủ đề “Thu hút có chọn lọc các phân đoạn thị trường khách du lịch có khả năng chi trả cao và lưu trú dày ngày tới Việt Nam. Ban lãnh đạo ngành du lịch đã tìm ra những phương án...</p>
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column-2">
          <div class="right-block">
            <a class="category-title" href="#"><p class="title-news">TIN MỚI NHẤT</p></a>
            <div>
              <div class="scrollbar" id="style-1">
                <div class="force-overflow">
                  <div class="detail-title-news">
                    <a href="#"><p class="detail-title">Gần 7,3 tỷ đồng đào tạo nghề nông nghiệp cho lao động nông thôn</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                  <div class="detail-title-news">
                    <a href="#"><p class="detail-title">Hơn 7.400 lao động nông thôn được hỗ trợ học nghề và định hướng nghề nghiệp</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                  <div class="detail-title-news">
                    <a href="#"><p class="detail-title">Thực hiện chương trình xây dựng nông thôn mới: Chậm giải ngân vốn đầu tư</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                  <div class="detail-title-news">
                    <a href=""><p class="detail-title">Triển khai các giải pháp đảm bảo trật tự an toàn giao thông trên địa bàn tỉnh</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                  <div class="detail-title-news">
                    <a href=""><p class="detail-title">Trực tuyến toàn quốc tăng cường các giải pháp phòng, chống dịch tả lợn châu Phi</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                  <div class="detail-title-news">
                    <a href="#"><p class="detail-title">Chú trọng ứng dụng công nghệ mới vào trồng trọt và chăn nuôi</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                  <div class="detail-title-news">
                    <a href=""><p class="detail-title">Chú trọng ứng dụng công nghệ mới vào trồng trọt và chăn nuôi</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                  <div class="detail-title-news">
                    <a href=""><p class="detail-title">Chú trọng ứng dụng công nghệ mới vào trồng trọt và chăn nuôi</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                  <div class="detail-title-news">
                    <a href=""><p class="detail-title">Chú trọng ứng dụng công nghệ mới vào trồng trọt và chăn nuôi</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                  <div class="detail-title-news">
                    <a href=""><p class="detail-title">Chú trọng ứng dụng công nghệ mới vào trồng trọt và chăn nuôi</p></a>
                    <div class="date-time">
                      <img class="time-icon" src="./images/time.svg">
                      <p class="date-up">06/05/2019</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Second block-->
  <div class="center">
  <div class="row">
    <div class="column">
      <div>
        <hr class="line-title">
            <p class="category"><a class="category-title" href="#">TIN THỜI SỰ</a></p>
              <div class="head-news"><a class="block-news" href="#"><img class="c-img" src="./images/img6.png">
              <div class="normal-title-news">
                  <a href="#"><p class="normal-title">Thúc đẩy du lịch phát triển bằng những cơ chế, chính sách đột phá nhằm thu hút khách…</p></a>
                  <div class="normal-date-time">
                    <img class="normal-time-icon" src="./images/time.svg">
                    <p class="normal-date-up">06/05/2019</p>
                  </div>
                  <p class="normal-des">Khu vực kinh tế tư nhân (KTTN) đã đóng góp rất lớn vào sự phát triển kinh tế du lịch, mang lại nguồn thu lớn cho địa phương.</p>
              </div></a>
            </div></div>
          <div class="news-column">
              <div><img class="video-thumb" src="./images/img10.png"></div>
              <div class="detail-title-colum"><a href="#"><p class="news-title-column">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
              <div class="date-time">
                  <img class="column-time-icon" src="./images/time.svg">
                  <p class="video-date-up">06/05/2019</p>
              </div>
              </div>
          </div>
          <div class="news-column">
              <div><img class="video-thumb" src="./images/img11.png"></div>
              <div class="detail-title-colum"><a href="#"><p class="news-title-column">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
              <div class="date-time">
                  <img class="column-time-icon" src="./images/time.svg">
                  <p class="video-date-up">06/05/2019</p>
              </div>
              </div>
          </div>
    </div>
    <div class="column">
    <div>
      <div>
        <hr class="line-title">
            <p class="category"><a class="category-title" href="#">CHUYỆN NHÀ NÔNG</a></p>
              <div><a class="block-news" href="#"><img class="c-img" src="./images/img4.png">
              <div class="normal-title-news">
                  <a href="#"><p class="normal-title">Thúc đẩy du lịch phát triển bằng những cơ chế, chính sách đột phá nhằm thu hút khách…</p></a>
                  <div class="normal-date-time">
                    <img class="normal-time-icon" src="./images/time.svg">
                    <p class="normal-date-up">06/05/2019</p>
                  </div>
                  <p class="normal-des">Khu vực kinh tế tư nhân (KTTN) đã đóng góp rất lớn vào sự phát triển kinh tế du lịch, mang lại nguồn thu lớn cho địa phương.</p>
              </div></a>
            </div></div>
          <div class="news-column">
              <div><img class="video-thumb" src="./images/img12.png"></div>
              <div class="detail-title-colum"><a href="#"><p class="news-title-column">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
              <div class="date-time">
                  <img class="column-time-icon" src="./images/time.svg">
                  <p class="video-date-up">06/05/2019</p>
              </div>
              </div>
          </div>
          <div class="news-column">
              <div><img class="video-thumb" src="./images/img13.png"></div>
              <div class="detail-title-colum"><a href="#"><p class="news-title-column">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
              <div class="date-time">
                  <img class="column-time-icon" src="./images/time.svg">
                  <p class="video-date-up">06/05/2019</p>
              </div>
              </div>
          </div>
    </div>
    </div>
    <div class="column">
    <div>
      <div>
        <hr class="line-title">
            <p class="category"><a class="category-title" href="#">NHÀ NÔNG LÀM GIÀU</a></p>
              <div><a class="block-news" href="#"><img class="c-img" src="./images/img5.png">
              <div class="normal-title-news">
                  <a href="#"><p class="normal-title">Thúc đẩy du lịch phát triển bằng những cơ chế, chính sách đột phá nhằm thu hút khách…</p></a>
                  <div class="normal-date-time">
                    <img class="normal-time-icon" src="./images/time.svg">
                    <p class="normal-date-up">06/05/2019</p>
                  </div>
                  <p class="normal-des">Khu vực kinh tế tư nhân (KTTN) đã đóng góp rất lớn vào sự phát triển kinh tế du lịch, mang lại nguồn thu lớn cho địa phương.</p>
              </div></a>
            </div></div>
          <div class="news-column">
              <div><img class="video-thumb" src="./images/img14.png"></div>
              <div class="detail-title-colum"><a href="#"><p class="news-title-column">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
              <div class="date-time">
                  <img class="column-time-icon" src="./images/time.svg">
                  <p class="video-date-up">06/05/2019</p>
              </div>
              </div>
          </div>
          <div class="news-column">
              <div><img class="video-thumb" src="./images/img15.png"></div>
              <div class="detail-title-colum"><a href="#"><p class="news-title-column">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
              <div class="date-time">
                  <img class="column-time-icon" src="./images/time.svg">
                  <p class="video-date-up">06/05/2019</p>
              </div>
              </div>
          </div>
    </div>
    </div>
  </div>
  </div>
  <!--Thirds block-->
  <div class="center">
    <div>
    <img class="mid-banner" src="./images/banner2.png">
    </div>
  </div>
  <!--Fourth block-->
  <div class="main-container">
    <div class="center">
      <div>
      <hr class="line-title">
      <p class="category"><a class="category-title" href="#">VIDEO</a></p>
      </div>
    <div>
      <div class="fourth-block">
        <div class="row">
          <div class="column-1">
              <div class="left-block">
              <div class="slider2" >
              <div class="btn-video" onclick="changeVideo('e80BbX05D7Y')">
                <img class="c-video" src="./images/thumbvideo1.png">
                <a href="#"><img class="btn-play" src="./images/play.svg"></a>
              </div>
              <div class="btn-video">
                <img class="c-video" src="./images/thumbvideo2.png">
                <a href="#"><img class="btn-play" src="./images/play.svg"></a>
              </div>
              <div class="btn-video">
                <img class="c-video" src="./images/thumbvideo3.png">
                <a href="#"><img class="btn-play" src="./images/play.svg"></a>
              </div>
              <div class="btn-video">
                <img class="c-video" src="./images/thumbvideo4.png">
                <a href="#"><img class="btn-play" src="./images/play.svg"></a>
              </div>
              <div class="btn-video">
                <img class="c-video" src="./images/thumbvideo5.png">
                <a href="#"><img class="btn-play" src="./images/play.svg"></a>
              </div>
              <div class="btn-video">
                <img class="c-video" src="./images/thumbvideo1.png">
                <a href="#"><img class="btn-play" src="./images/play.svg"></a>
              </div>
              <div class="btn-video">
                <img class="c-video" src="./images/thumbvideo1.png">
                <a href="#"><img class="btn-play" src="./images/play.svg"></a>
              </div>
            </div>
          </div>
          </div>
          <div class="column-2">
            <div class="fourth-right-block">
              <div id="wrapper">
                <div class="scrollbar2" id="style-2">
                  <div class="force-overflow">
                    <div class="video-news active" data-slide="1">
                      <div class="video-thumb" style="background-image: url('./images/thumbvideo1.png');">
                        <img class="small-btn-play" src="./images/play.svg">
                      </div>
                      <div class="detail-video">
                      <a href="#"><p class="video-title">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
                      <div class="date-time">
                        <img class="video-time-icon" src="./images/time.svg">
                        <p class="video-date-up">06/05/2019</p>
                      </div>
                    </div>
                    </div>
                    <div class="video-news" data-slide="2">
                      <div class="video-thumb" style="background-image: url('./images/thumbvideo2.png');">
                        <img class="small-btn-play" src="./images/play.svg">
                      </div>
                      <div class="detail-video">
                      <a href="#"><p class="video-title">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
                      <div class="date-time">
                        <img class="video-time-icon" src="./images/time.svg">
                        <p class="video-date-up">06/05/2019</p>
                      </div>
                    </div>
                    </div>
                    <div class="video-news" data-slide="3">
                      <div class="video-thumb" style="background-image: url('./images/thumbvideo3.png');">
                        <img class="small-btn-play" src="./images/play.svg">
                      </div>
                      <div class="detail-video">
                      <a href="#"><p class="video-title">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
                      <div class="date-time">
                        <img class="video-time-icon" src="./images/time.svg">
                        <p class="video-date-up">06/05/2019</p>
                      </div>
                    </div>
                    </div>
                    <div class="video-news" data-slide="4">
                      <div class="video-thumb" style="background-image: url('./images/thumbvideo4.png');">
                        <img class="small-btn-play" src="./images/play.svg">
                      </div>
                      <div class="detail-video">
                      <a href="#"><p class="video-title">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
                      <div class="date-time">
                        <img class="video-time-icon" src="./images/time.svg">
                        <p class="video-date-up">06/05/2019</p>
                      </div>
                    </div>
                    </div>
                    <div class="video-news" data-slide="5">
                      <div class="video-thumb" style="background-image: url('./images/thumbvideo5.png');">
                        <img class="small-btn-play" src="./images/play.svg">
                      </div>
                      <div class="detail-video">
                      <a href="#"><p class="video-title">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
                      <div class="date-time">
                        <img class="video-time-icon" src="./images/time.svg">
                        <p class="video-date-up">06/05/2019</p>
                      </div>
                    </div>
                    </div>
                    <div class="video-news" data-slide="6">
                      <div class="video-thumb" style="background-image: url('./images/thumbvideo1.png');">
                        <img class="small-btn-play" src="./images/play.svg">
                      </div>
                      <div class="detail-video">
                      <a href="#"><p class="video-title">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
                      <div class="date-time">
                        <img class="video-time-icon" src="./images/time.svg">
                        <p class="video-date-up">06/05/2019</p>
                      </div>
                    </div>
                    </div>
                    <div class="video-news" data-slide="7">
                      <div class="video-thumb" style="background-image: url('./images/thumbvideo3.png');">
                        <img class="small-btn-play" src="./images/play.svg">
                      </div>
                      <div class="detail-video">
                      <a href="#"><p class="video-title">Gần 7,3 tỷ đồng đào tạo nghề cho lao động nông thôn</p></a>
                      <div class="date-time">
                        <img class="video-time-icon" src="./images/time.svg">
                        <p class="video-date-up">06/05/2019</p>
                      </div>
                    </div>
                    </div>




                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!--Fiffth block-->
  <div class="fifth-container">
    <div class="main-fifth-container">
      <div class="fifth-row">
        <div class="center">
        <div>
        <hr class="line-title">
        <p class="category"><a class="category-title" href="#">XÂY DỰNG NÔNG THÔN MỚI</a></p>
        </div>
        <div class="fifth-block">
          <div class="row">
          <div class="multiple-items">
           <div class="column-5">
              <div>
                <div class="img-news" style="background-image: url('./images/img7.png');">
                  <img class="end-img" src="./images/img7.png">
                </div>
                  <div class="normal-title-news">
                      <a href="#"><p class="normal-title">Ứng dụng máy móc hiện đại vào sản xuất nông nghiệp nhằm tăng năng suất lao động</p></a>
                      <div class="normal-date-time">
                      <img class="normal-time-icon" src="./images/time.svg">
                      <p class="normal-date-up">06/05/2019</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="column-5">
              <div>
                <div class="img-news" style="background-image: url('./images/img8.png');">
                  <img class="end-img" src="./images/img7.png">
                </div>
                  <div class="normal-title-news">
                      <a href="#"><p class="normal-title">Bên trong startup nông nghiệp hữu cơ trị giá 10 triệu USD ở Tây Nguyên.</p></a>
                      <div class="normal-date-time">
                      <img class="normal-time-icon" src="./images/time.svg">
                      <p class="normal-date-up">06/05/2019</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="column-5">
              <div>
                <div class="img-news" style="background-image: url('./images/img9.png');">
                  <img class="end-img" src="./images/img7.png">
                </div>
                  <div class="normal-title-news">
                      <a href="#"><p class="normal-title">Bê tông hoá đường xá là bước đầu trong công cuộc xây dựng nông thôn mới nói chung</p></a>
                      <div class="normal-date-time">
                      <img class="normal-time-icon" src="./images/time.svg">
                      <p class="normal-date-up">06/05/2019</p>
                      </div>
                  </div>
              </div>
            </div>
              <div class="column-5">
              <div>
                <div class="img-news" style="background-image: url('./images/img5.png');">
                  <img class="end-img" src="./images/img7.png">
                </div>
                  <div class="normal-title-news">
                      <a href="#"><p class="normal-title">Thúc đẩy du lịch phát triển bằng những cơ chế, chính sách đột phá nhằm thu hút khách du lịch đến với...</p></a>
                      <div class="normal-date-time">
                      <img class="normal-time-icon" src="./images/time.svg">
                      <p class="normal-date-up">06/05/2019</p>
                      </div>
                  </div>
              </div>
            </div>
             <div class="column-5">
              <div>
                <div class="img-news" style="background-image: url('./images/img4.png');">
                  <img class="end-img" src="./images/img7.png">
                </div>
                  <div class="normal-title-news">
                      <a href="#"><p class="normal-title">Thúc đẩy du lịch phát triển bằng những cơ chế, chính sách đột phá nhằm thu hút khách…</p></a>
                      <div class="normal-date-time">
                      <img class="normal-time-icon" src="./images/time.svg">
                      <p class="normal-date-up">06/05/2019</p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
   </div>
  </div>
  </div>
  <!--Sixth block-->
  <div class="logo-silde">
    <div class="center">
      <div>
          <hr class="line-title">
          <p class="category"><a class="category-title" href="#">CHƯƠNG TRÌNH NÔNG THÔN MỚI Ở CÁC TỈNH</a></p>
      </div>
        <div class="autoplay">
          <div><a href="#"><img class="logo-slider" src="./images/logoslide1.png"></a></div>
          <div><a href="#"><img class="logo-slider" src="./images/logoslide2.png"></a></div>
          <div><a href="#"><img class="logo-slider" src="./images/logoslide3.png"></a></div>
          <div><a href="#"><img class="logo-slider" src="./images/logoslide4.png"></a></div>
          <div><a href="#"><img class="logo-slider" src="./images/logoslide5.png"></a></div>
          <div><a href="#"><img class="logo-slider" src="./images/logoslide3.png"></a></div>
          <div><a href="#"><img class="logo-slider" src="./images/logoslide4.png"></a></div>
          <div><a href="#"><img class="logo-slider" src="./images/logoslide3.png"></a></div>
          <div><a href="#"><img class="logo-slider" src="./images/logoslide4.png"></a></div>
        </div>
      </div>
    </div>