<header class="header-container">
  	<div class="container">
    	<div class="banner-container">
        	<div class="banner" id="logo">
          		<img src="./images/banner.png" alt="logo" class="img-banner">
        	</div>
          	<div class="center logo-container">
          		<div class="logo" id="logo_mobile">
            		<a class="logo-link"><img src="./images/logo.png" width="366px" alt="logo" class="img-logo-1"></a>
            		<a href="/" class="logo-link"><img src="./images/logo2.png" width="366px" alt="logo" class="img-logo-2"></a>
           			<button class="toggle-menu" style="background-image: url('./images/togglemenu.svg');"></button>
        		</div>
     		</div>
   		</div>
   		<div class="rs-on-mobile">
			<div class="row-menu">
		        <div class="center">
		     	    <nav class="nav-menu">
		            	<ul class="list-menu">
		              		<li class="menu-item has-sub-menu"><a class="item-link" href="/">TRANG CHỦ</a></li>
		              		<li class="menu-item has-sub-menu">
		              			<span class="show-menu">
		              				<a class="item-link" href="#">GIỚI THIỆU</a>
		              				<button class="click-to-show-menu"><img class="menu-icon" src="./images/rightarrow.svg"></button>
		              			</span>
		              			<ul class="sub-menu">
		                  			<li class="menu-item"><a class="item-link" href="#">CHƯƠNG TRÌNH NÔNG THÔN MỚI CỦA TRUNG ƯƠNG</a></li>
		                  			<hr class="line">
		                  			<li class="menu-item"><a class="item-link" href="#">CHƯƠNG TRÌNH NÔNG THÔN MỚI CỦA TỈNH</a></li>
		                  			<hr class="line">
		                  			<li class="menu-item"><a class="item-link" href="#">CHƯƠNG TRÌNH NÔNG THÔN MỚI CỦA HUYỆN</a></li>
		                		</ul>
		          			</li>
			              	<li class="menu-item has-sub-menu">
			              		<span class="show-menu">
		              				<a class="item-link" href="#">TIN TỨC</a>
		              				<button class="click-to-show-menu"><img class="menu-icon" src="./images/rightarrow.svg"></button>
		              			</span>
				                <ul class="sub-menu">
				                  <li class="menu-item"><a class="item-link" href="#">TIN THỜI SỰ</a></li>
				                  <hr class="line">
				                  <li class="menu-item"><a class="item-link" href="#">ĐÀO TẠO NGHỀ</a></li>
				                  <hr class="line">
				                  <li class="menu-item"><a class="item-link" href="#">TIN TỨC XÂY DỰNG NÔNG THÔN MỚI</a></li>
				                  <hr class="line">
								  <li class="menu-item"><a class="item-link" href="#">ĐIỂM SÁNG XÂY DỰNG NÔNG THÔN MỚI</a></li>
				                </ul>
				             </li>
							<li class="menu-item has-sub-menu">
								<span class="show-menu">
		              				<a class="item-link" href="#">NHÀ NÔNG</a>
		              				<button class="click-to-show-menu"><img class="menu-icon" src="./images/rightarrow.svg"></button>
		              			</span>
								<ul class="sub-menu">
								  <li class="menu-item"><a class="item-link" href="#">CHUYỆN NHÀ NÔNG</a></li>
								  <hr class="line">
								  <li class="menu-item"><a class="item-link" href="#">NHÀ NÔNG LÀM GIÀU</a></li>
								  <hr class="line">
								  <li class="menu-item"><a class="item-link" href="#">KHUYẾN NÔNG</a></li>
								</ul>
							</li>
							<li class="menu-item has-sub-menu">
								<span class="show-menu">
		              				<a class="item-link" href="#">NÔNG THÔN MỚI</a>
		              				<button class="click-to-show-menu"><img class="menu-icon" src="./images/rightarrow.svg"></button>
		              			</span>
								<ul class="sub-menu">
								  <li class="menu-item"><a class="item-link" href="#">BỘ TIÊU CHÍ XÂY DỰNG NÔNG THÔN MỚI</a></li>
								  <hr class="line">
								  <li class="menu-item"><a class="item-link" href="#">DANH SÁCH XÃ ĐẠT CHUẨN NÔNG THÔN MỚI</a></li>
								  <hr class="line">
								  <li class="menu-item"><a class="item-link" href="#">VĂN BẢN XÂY DỰNG NÔNG THÔN MỚI</a></li>
								</ul>
							</li>
							<li class="menu-item has-sub-menu">
								<span class="show-menu">
		              				<a class="item-link" href="#">NGƯỜI DÂN CẦN BIẾT</a>
		              				<button class="click-to-show-menu"><img class="menu-icon" src="./images/rightarrow.svg"></button>
		              			</span>
								<ul class="sub-menu">
								  <li class="menu-item"><a class="item-link" href="#">THỜI TIẾT NÔNG VỤ</a></li>
								  <hr class="line">
								  <li class="menu-item"><a class="item-link" href="#">GIÁ CẢ NÔNG SẢN</a></li>
								  <hr class="line">
								  <li class="menu-item"><a class="item-link" href="#">DỰ BÁO DỊCH HẠI</a></li>
								  <hr class="line">
								  <li class="menu-item"><a class="item-link" href="#">THÔNG TIN CHUYÊN NGÀNH</a></li>
								</ul>
							</li>
			              	<li class="menu-item has-sub-menu"><a class="item-link" href="#">CHÍNH SÁCH PHÁP LUẬT</a>
			              	</li>
			              	<li class="menu-item has-sub-menu">
			              		<span class="show-menu">
		              				<a class="item-link" href="#">THƯ VIỆN</a>
		              				<button class="click-to-show-menu"><img class="menu-icon" src="./images/rightarrow.svg"></button>
		              			</span>
				                <ul class="sub-menu">
				                  <li class="menu-item"><a class="item-link" href="#">THƯ VIỆN HÌNH ẢNH</a></li>
				                  <hr class="line">
				                  <li class="menu-item"><a class="item-link" href="#">VIDEO</a></li>
				                </ul>
			              	</li>
				             <li class="menu-item has-sub-menu"><a class="item-link" href="#">HỎI ĐÁP-GÓP Ý</a></li>
				             <li class="menu-item has-sub-menu"><a class="item-link" href="#">LIÊN HỆ</a></li>
		            	</ul>
		          	</nav>
		        </div>
		    </div>
		    <div class="search-container">
		        <div class="center">
		            <p class="date">Thứ hai, Ngày 27/05/2019 - 15:25:30</p>
		            <div class="">
		                <div class="box">
		                	<div class="container-1">
		                  		<div class="search">
		                    		<input type="text" id="search" placeholder="Tìm kiếm..." >
		                    		<span class="icon"><a class="btn-search" href="#"><i class="fa fa-search"></i></a></span>
		                    	</div>
		                    	<a href="#"><img src="./images/language.svg" alt="language" class="img-language"></a>
	              			</div>  
	            		</div>
	          		</div>
	        	</div>
	      	</div>   			
   		</div>
		  	      
    </div>
</header>